*{
    padding: 0%;
    margin: 0%;
    background-color:#bcebdf;
}
.header-container{
    height:50px;
    display: flex;
    justify-content: flex-end;
    background-color: #31b090;
    flex-flow:row;
}
.BodyContainer{
    display: flex;
    flex-flow:column;
    height: 3000px;
}
.navigation{
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color:#31b090 ;
}
.navigationlist{
    display: flex;
    justify-content: flex-start;
    height:40%;
    background-color:#31b090 ;
}
.navigationlist li{
    display: inline;
    padding-right: 5%;
    width:200px;
    background-color:#31b090 ;
}
.navigationlist a{
    background-color:#31b090;
   
    font-family: "Roboto";
    color:#9bebd7;
    font-weight: 800;
    font-size:16px;
    border-radius:10px;
    text-decoration: none;
}
.navigationlist a:hover{
 font-size: 18px;
 text-decoration:underline;
 color:#217591;
}
.MainContainer{
    padding-top:10px;
}
.MainContainer h1{
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
    color:#217591;
}
.HumanOfDay{
    display: flex;
    height:420px;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.Human{
    width:30%;
    border-right: 2px solid #65af9d;; /* Параметры границы */
    background-color: #bcebdf;
    text-align: center;
    
}
.Human h1{
    font-family:"Roboto";
    font-size:25px;
    color:#217591;
}
.Human h2{
    font-family:"Roboto";
    font-size:20px;
    color:#217591;
}
.HumanDayInfo{
    width:20%;
    text-align: center;
    display: flex;
    flex-flow:column;
    padding-left: 30px;
    font-family: "Roboto";
    font-size:16px;
    padding-top:30px;
    color:#217591;
    height: 420px;
}
.Image{
    display: flex;
    flex-flow:row;
    justify-content: center;
}
.DayPersonBtn{
    border-radius: 30px;
    width:300px;
    background-color: #9bebd7;
    text-align: center;
    height:50px;
    margin-top:15px;
    color:#217591;
    font-weight: bold;
    font-size:25px;
    border:0px;
    font-family: "Roboto";
    -webkit-box-shadow: 4px -3px 38px 2px rgba(33, 118, 103, 0.43);
    -moz-box-shadow: 4px -3px 38px 2px rgba(33, 118, 103, 0.43);
    box-shadow: 4px -3px 38px 2px rgba(33, 118, 103, 0.43);
}
.DayPersonBtn:hover{
    background-color: #31b090;
    -webkit-box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
    -moz-box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
    box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
    color:#9bebd7;
}
.Developers{
    padding-top:100px;
    display: flex;
    flex-flow:row;
    justify-content: center;
}
.Developers-Container{
    display: flex;
    flex-flow:row;
    width:80%;
    justify-content: space-between;
}
.Developer{
    width: 350px;
    height: 450px;
    justify-items: center;
    border-radius: 20px;
    border:1px solid #9bebd7;
    background-color:#9bebd7;
    -webkit-box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
    -moz-box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
    box-shadow: -1px 0px 13px 11px rgba(99, 197, 180, 0.6);
 

}
.Developer p{
    text-align:center;
    background-color: #9bebd7;
    padding-top:20px;
}
.DeveloperImage{
    margin-top:50px;
    margin-left:50px;
    border-radius: 150px;
}
.DeveloperIcons{
    background-color: inherit;
    display: flex;
    flex-flow:row;
    justify-content: center;
    padding-top: 20px;
}
.DeveloperIcons i{
    font-size:30px;
    background-color: inherit;
    width:35px;
    border-radius: 20px;
}
.Icons{
    display: Flex;
    flex-flow:row;
    width:28%;
    justify-content: space-between;
    background-color: inherit;
   
}
.Icons a{
    background-color: inherit;
    color:black;
}

.Icons i:hover{
    font-size:33px;
}
.DeveloperName{
    font-family: "Roboto";
    font-size:20px;
  /*  color:#268aab;*/
    color:#217591;
    font-weight: 700;
}